<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        
        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Criar Nova Ação da Aventura</h4>
    </div>
    <div class="card-body">
      <form action="/actions" method="POST">
        <div class="row mb-3 align-items-center">
          <label for="name" class="col-sm-3 col-form-label">Nome da Ação</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
        </div>
        
        <div class="row mb-3 align-items-center">
          <label for="description" class="col-sm-3 col-form-label">Descrição</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
          </div>
        </div>

       <div class="row mb-3 align-items-center">
          <label for="difficulty" class="col-sm-3 col-form-label">Dificuldade</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="difficulty" name="difficulty" required>
          </div>
        </div>


        <div class="row mb-3 align-items-center">
          <label for="result" class="col-sm-3 col-form-label">Resultado do Teste</label>
          <div class="col-sm-9">
            <select class="form-control" id="resultTest" name="resultTest" required>
              <option value="true">Verdadeiro</option>
              <option value="false">Falso</option>
            </select>
          </div>
        </div>

        <div class="row mb-3 align-items-center">
  <label for="adventureId" class="col-sm-3 col-form-label">Aventura</label>
  <div class="col-sm-9">
    <select class="form-control" id="adventureId" name="adventureId" required>
      <% adventures.forEach(adventure => { %>
        <option value="<%= adventure.id %>"><%= adventure.name %></option>
      <% }) %>
    </select>
  </div>
</div>


        <div class="row mb-3 align-items-center">
          <label for="physical_action" class="col-sm-3 col-form-label">Ação Física</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="physicalAction" name="physicalAction" required>
          </div>
        </div>

        <div class="row mb-3 align-items-center">
          <label for="social_action" class="col-sm-3 col-form-label">Ação Social</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="socialAction" name="socialAction" required>
          </div>
        </div>

        <div class="row mb-3 align-items-center">
          <label for="mental_action" class="col-sm-3 col-form-label">Ação Mental</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="mentalAction" name="mentalAction" required>
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-success">Criar Ação</button>
        </div>
      </form>
    </div>
  </div>
</div>

        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
