<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        
        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Editar Aventura: <%= adventure.name %></h4>
    </div>
    <div class="card-body">
      <form action="/adventures/<%= adventure.id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= adventure.name %>" required>
        </div>
        <div class="form-group">
          <label for="description">Descrição</label>
          <textarea class="form-control" id="description" name="description" rows="3" required><%= adventure.description %></textarea>
        </div>
        <div class="form-group">
          <label for="difficulty">Dificuldade</label>
          <input type="text" class="form-control" id="difficulty" name="difficulty" value="<%= adventure.difficulty %>" required>
        </div>
        <div class="form-group">
          <label for="reward">Recompensa</label>
          <input type="text" class="form-control" id="reward" name="reward" value="<%= adventure.reward %>" required>
        </div>
        <div class="form-group">
          <label for="requirement">Requisito</label>
          <textarea class="form-control" id="requirement" name="requirement" rows="3" required><%= adventure.requirement %></textarea>
        </div>
        <div class="form-group">
          <label for="level">Nível</label>
          <input type="number" class="form-control" id="level" name="level" value="<%= adventure.level %>" required>
        </div>
        
       <button type="submit" class="btn btn-warning">Atualizar Aventura</button> 
      </form>
    </div>
  </div>
  
</div> 
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
