<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        
      <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Detalhes da Fala de <%= speech.npc_name %></h4>
    </div>
    <div class="card-body">
      <h5><%= speech.npc_name %></h5>
      <p><strong>Tipo de Fala:</strong> <%= speech.type %></p>
      <p><strong>Fala Física:</strong> <%= speech.physicalText %></p>
      <p><strong>Fala Social:</strong> <%= speech.socialText %></p>
      <p><strong>Fala Mental:</strong> <%= speech.mentalText %></p>
      
      <a href="/npc-speeches/<%= speech.id %>/edit" class="btn btn-warning">Editar</a>
      <form action="/npc-speeches/<%= speech.id %>/delete" method="POST" class="d-inline-block">
        <button type="submit" class="btn btn-danger">Deletar</button>
      </form>
    </div>
  </div>
</div>

        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
