<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8"> 
         <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Editar Item</h4>
    </div>
    <div class="card-body">
      <form action="/items/<%= item.id %>?_method=PUT" method="POST">
        
        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label text-end">Nome</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" value="<%= item.name %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="price" class="col-sm-3 col-form-label text-end">Preço</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" name="price" value="<%= item.price %>" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="durability" class="col-sm-3 col-form-label text-end">Durabilidade</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" name="durability" value="<%= item.durability %>" required>
          </div>
        </div>
        

        <div class="row mb-3">
          <label for="archetype" class="col-sm-3 col-form-label text-end">Arquétipo</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="archetype" value="<%= item.archetype %>" required>
          </div>
        </div>

       
  <div class="row mb-3">
    <label for="bn01" class="col-sm-3 col-form-label text-end">Bônus 01</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="bn01" value="<%= item.bonus && item.bonus.bonus01 %>" required>
    </div>
  </div>

  <div class="row mb-3">
    <label for="bn02" class="col-sm-3 col-form-label text-end">Bônus 02</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="bn02" value="<%= item.bonus && item.bonus.bonus02 %>" required>
    </div>
  </div>

  <div class="row mb-3">
    <label for="bn03" class="col-sm-3 col-form-label text-end">Bônus 03</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="bn03" value="<%= item.bonus && item.bonus.bonus03 %>" required>
    </div>
  </div>

  

        <div class="row">
          <div class="offset-sm-3 col-sm-9 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a href="/items/<%= item.id %>" class="btn btn-secondary">Cancelar</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>


      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
