<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8"> 
        
        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0"><%= item.name %></h4>
    </div>
    <div class="card-body ">
      
      <p><strong>Preço:</strong> <%= item.price %></p>
      <p><strong>Durabilidade:</strong> <%= item.durability %></p>
      <p><strong>Arquétipo:</strong> <%= item.archetype %></p>

      <p><strong>Descrição:</strong> <%= item.description %></p>

      <p><strong>Bônus:</strong></p>
      <ul class="list-group mb-3 text-start">
        <% if (item.bonus && typeof item.bonus === 'object') { %>
          <% Object.entries(item.bonus).forEach(([key, value]) => { %>
            <li class="list-group-item"><strong><%= key %>:</strong> <%= value %></li>
          <% }) %>
        <% } else { %>
          <li class="list-group-item">Nenhum bônus definido.</li>
        <% } %>
      </ul>

      <div class="d-flex justify-content-between">
        <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Editar</a>

        <form action="/items/<%= item.id %>?_method=DELETE" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>

        <a href="/items" class="btn btn-secondary">Voltar</a>
      </div>
    </div>
  </div>
</div>


      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
