<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
       <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Lista de Arquétipos</h4>
    </div>
    <div class="card-body">
      <a href="/attributes/new" class="btn btn-success mb-3">Criar Novo Arquétipo</a>

      <div class="list-group">
        <% attributes.forEach(a => { %>
          <a href="/attributes/<%= a.id %>" class="list-group-item list-group-item-action">
            <strong><%= a.name %></strong>  
          </a>
        <% }) %>
      </div>
    </div>
  </div>
</div>  
        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
