<%- include('../../partials/header/header.ejs'); %>
 

<body class="fundo-container">
  <%- include('../../partials/menu/userMenu.ejs'); %>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        
        <div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Detalhes da Ação: <%= action.name %></h4>
    </div>
    <div class="card-body">
      <h5><%= action.name %></h5>
      <p><strong>Descrição:</strong> <%= action.description %></p>
      <p><strong>Dificuldade:</strong> <%= action.difficulty %></p>
      <p><strong>Resultado do Teste:</strong> <%= action.result ? 'Verdadeiro' : 'Falso' %></p>
      <p><strong>Ação Física:</strong> <%= action.physicalAction %></p>
      <p><strong>Ação Social:</strong> <%= action.socialAction %></p>
      <p><strong>Ação Mental:</strong> <%= action.mentalAction %></p>

      <a href="/actions/<%= action.id %>/edit" class="btn btn-warning">Editar</a>
      <form action="/actions/<%= action.id %>/delete?_method=DELETE" method="POST" class="d-inline-block">
        <button type="submit" class="btn btn-danger">Deletar</button>
      </form>
    </div>
  </div>
</div>

        
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>

  <%- include('../../partials/footer/footer.ejs'); %>
</body>
