<%- include('../partials/header/header.ejs'); %>
 
<% if (user && user.role === 'admin') { %>
  <%- include('../partials/menu/menuAdmin') %>
<% } else if (user && user.role === 'teacher') { %>
  <%- include('../partials/menu/menuTeacher') %>
<% } else if (user && user.role === 'player') { %>
  <%- include('../partials/menu/menuPlayer') %>
<% } else { %>
  <%- include('../partials/menu/menuGuest') %> <!-- Visitantes não logados -->
<% } %>
<div class="container mt-5">
  <div class="containerGame">
    <div class="game-ui">
      <h2 style="color:white; text-align:center;">My Characters</h2>
      <% if (characters.length > 0) { %>
        <ul style="color:white;">
          <% characters.forEach(character => { %>
            <li><strong><%= character.name %></strong> - Level <%= character.level %> - XP <%= character.experience %></li>
          <% }) %>
        </ul>
      <% } else { %>
        <p style="color:white;">You don't have any characters yet.</p>
      <% } %>
    </div>
  </div>
</div>
<%- include('../partials/footer/footer.ejs'); %>
